.slick-slider {
  width: 100%;
}

.carousel-content3 {
  width: 97%;
  background-color: #8AB2DD;
  height: 750px;
  padding-bottom: 15%;
}

.exposicao {
  position: relative;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.galeria3 {
  padding: 0 10%;
}

.dados3 {
  display: grid;
  padding: 0 10%;
}

.dados-itens3Location {
  display: inline-flex;
  padding-left: 1%;
}

.dados-itens3 {
  display: inline-flex;
}


@media screen and (max-width: 1572px) {
  .carousel-content3 {
    padding-bottom: 35%;
  }
}

@media screen and (max-width: 1300px) {
  .carousel-content3 {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 1037px) {
  .carousel-content3 {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 990px) {
  .carousel-content3 {
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 860px) {
  .carousel-content3 {
    padding-bottom: 35%;
  }
}

@media screen and (max-width: 767px) {
  .carousel-content3 {
    padding-bottom: 0%;
  }
}

@media screen and (max-width: 575px) {
  .carousel-content3 {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 535px) {
  .carousel-content3 {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 503px) {
  .carousel-content3 {
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 480px) {
  .carousel-content3 {
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 455px) {
  .carousel-content3 {
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 440px) {
  .carousel-content3 {
    padding-bottom: 35%;
  }
}

@media screen and (max-width: 400px) {
  .carousel-content3 {
    padding-bottom: 40%;
  }
}

@media screen and (max-width: 392px) {
  .carousel-content3 {
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 359px) {
  .carousel-content3 {
    padding-bottom: 80%;
  }
}

