.image-gallery-container {
  background-color: #CEE6C0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.grid-item {
  position: relative;
}

.caption {
  display: none;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cee6c071;
  color: black;
  border-radius: 5px;
}

.textCaption {
  padding-left: 5%;
}

.grid-item:hover .caption {
  display: block;
}


@media screen and (max-width: 1024px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-item .caption {
    display: block;
    top: 70%;
    height: 30%;
    background-color: #cee6c071;
  }

  .grid-item .caption .textCaption h5 {
    margin-top: 5%;
    /* Ajuste conforme necessário para reduzir o espaço */
  }
}

@media screen and (max-width: 830px) {
  .grid-item .caption .textCaption h5 {
    font-size: 1rem;
    /* Ajuste conforme necessário para reduzir o espaço */
  }
}

@media screen and (max-width: 550px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}