
.slick-slider {
    width: 100%;
  }
  
  .carousel-content3 {
    width: 97%;
    background-color: #8AB2DD; 
  }

  .exposicao{
    position: relative;
    width: 100%;
  }

  .icons{
    margin-right: 5px;
  }
  
  .galeria {
    padding: 0 10%;
  }
  
  .dados {
    display: inline-flex;
  }
  
  /* Adicione mais estilos conforme necessário */ 