
.slick-slider {
  width: 100%;
}

.carousel-content {
  width: 99%;
  background-color: #F89668;
}

.icons{
  margin-right: 5px;
  margin-left: 5px;
}

.linha {
  width: 100%;
  color: #000000;
}

.galeria {
  padding: 0 10%;
}

.dados {
  display: inline-flex;
}

hr{
  border-top: "5px";
  color: '#303E4D';
}