/*css do carrossel 3*/

/*estilo de cada slide*/
.carousel-content3 {
  width: 97%;
  background-color: #8ab2dd;
}

/*imagem da exposição*/
.exposicao {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*dados da exposição*/
.galeria3,
.dados3 {
  width: 90%;
  padding: 0 5%;
}

.galeria3,
.dados3 {
  height: 15rem;
}

.dados-itens3Location,
.dados-itens3 {
  display: flex;
  flex-direction: row;
}

.dados-itens3Location > img,
.dados-itens3 > img {
  margin-right: 1rem;
}

@media (max-width: 480px) {
  .dados3 {
    display: none;
    height: 0;
  }
}
