.slick-slider {
  width: 100%;
}

.carousel-content {
  width: 99%;
  background-color: #f89668;
}

.galeriaImage {
  position: relative;
  width: 10%;
}

.icons {
  margin-right: 5px;
}

.galeria {
  padding: 0 10%;
}

.dados {
  padding: 0 10%;
  display: inline-flex;
}
