

.rect{
  width: 160px;
  height: 52px;
  z-index: -1;
  
}

.rect1 {
  background-color: #f89668;
  margin-top: -7%;
  margin-left: 70%;
}

.rect2 {
  background-color: #cee6c0;
  margin-top: -6%;
  margin-left: 75%;
}

.rect3 {
  background-color: #8ab2dd;
  margin-top: -5%;
  margin-left: 78%;
}

.galeria {
  padding: 0 10%;
}

.dados {
  display: inline-flex;
}

.artistas {
  width: 100%;
  background-color: #cee6c0;
}

.expoDestaque {
  background-color: #8ab2dd;
  display: grid;
  padding: 0;
}
