

.rect{
  width: 160px;
  height: 52px;
  z-index: -1;
}

.rect1 {
  background-color: #f89668;
  margin-top: -7%;
  margin-left: 70%;
}

.rect2 {
  background-color: #cee6c0;
  margin-top: -6%;
  margin-left: 75%;
}

.rect3 {
  background-color: #8ab2dd;
  margin-top: -5%;
  margin-left: 78%;
}

.title{
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 881px) {
  .carousel1{
    margin-bottom: 5%;
  }
}



@media screen and (max-width: 2000px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 480px) {

  .rect2{
    margin-left: 20%;
  }
  .rect3{
    margin-top: -7%;
    margin-left: 22%;
  }
}