.galeria-list-element h1 {
    padding: 0 2%;
  }
  
  .galeria-list-element:hover {
    background-color: #F89668;
  }
  
  hr {
    margin: 0;
    padding: 0;
  }
  
  .galeria-imagem {
    position: absolute;
    width: 10%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
  }

  .galeria-list-element.clicked{
    background-color: #F89668;
  }
  /* .tab > .nav-link:hover {
    background-color: #cee6c0;
  } */

 
  .galeria-list-content-expanded{
    padding: 0 2%;
    display: inline-flex;
  }

