/*CSS DAS PÀGINAS DE INFORMAÇÃO*/
/* TITULO (NOME ARTISTA / GALERIA / EXPOSIÇÃO) */
#info-titulo {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

#info-titulo > h1 > span {
  font-weight: 200;
}

#info-rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 52px;
  background-color: #cee6c0;
  z-index: -1;
}

#info-rect.info-rect-galerias {
  background-color: #f89668;
}

#info-rect.info-rect-exposicoes {
  background-color: #8ab2dd;
}

/* PARAGRAFO DESCRITIVO */
#info-description {
  margin: 2rem 0 8rem 0;
}

@media screen and (min-width: 768px) {
  #info-description.exposicoes > p {
    column-count: 2; /* NÚMERO DE COLUNAS DO PARAGRAFO */
    column-gap: 2rem;
  }
}

/* IMAGENS RELACIONADAS */
#info-imagem1,
#info-imagem2,
#info-imagem3 {
  position: relative;
  padding: 0 2rem;
}

#info-imagem2,
#info-imagem3 {
  margin-top: 5rem;
}

/* LEGENDA IMAGENS */
#info-imagem1 > p,
#info-imagem2 > p,
#info-imagem3 > p {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

#info-imagem1 > img,
#info-imagem2 > img,
#info-imagem3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#info-imagem1.exposicoes {
  margin-top: 5rem;
}

/* INFORMAÇÃO DE DATA E LOCAL */
#info-location,
#info-date {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#info-location > p,
#info-date > p {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  #info-imagem1,
  #info-imagem2,
  #info-imagem3 {
    position: relative;
    padding: 0;
  }

  #info-imagem1 > p,
  #info-imagem2 > p,
  #info-imagem3 > p {
    text-align: left;
    position: relative;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(0);
  }
}
