.list-element h1 {
    padding: 0 2%;
  }
  
  .list-element:hover {
    cursor: pointer;
    background-color: #8AB2DD;
  }
  
  hr {
    margin: 0;
    padding: 0;
  }

  .hide{
    display: none;
  }

  .show{
    display:block;
  }

  #pesquisa_container{
    position: relative;
    height: fit-content;
  }